:root {
  --case-drop-height: 125px;
  --case-offset: 200px;
  --case-shadow-height: 8px;
  --case-size: 356px;
}

p {
  text-align: left;
}

h3 {
  text-align: left;
}

.search-minimal {
  background-color: #ffffff;
  padding: 7px;
  border-top:0;
  border-left:0;
  border-right:0;
  border-radius: 0px;
  border-width: 2px;
  border-color: #0e1f3c;
  color: #0e1f3c;
}

.button-minimal {
  background-color: #ffffff;
  border-top:0;
  border-left:0;
  border-right:0;
  border-radius: 0px;
  border-width: 2px;
  border-color: #e8b870;
  color: #e8b870;
}

.button-minimal:hover {
  background-color: #e8b870;
  color: #fff;
  border-color: #fff;
}

.dropdown-minimal {
  background-color: #ffffff;
  border-radius: 0px;
  border-width:2px;
  color: #0e1f3c;
  border-color: #0e1f3c;
}

.dropdown-minimal:hover {
  background-color:#0e1f3c;
  color: #ffffff;
  border-color: #fff;
}

.circle-button-bg {
  margin: 6px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  border-color: #d0a76c;
}

.circle-button-bg:hover {
  background-color: #04734b;
  color: #ffffff;
}

.square-150 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 150px;
}

.signup-input {
  height: 40px;
  position: relative;
  top: 2px;
}

.branding {
  /*TODO: Find a branding FONT*/
  color: #ffffff;
}

.branding-dark {
  color: #0c0c0c;
}

.header-main {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

.subheader {
  text-align: left;
}

.emphasis {
  color: #5bbf98;
}

.text-lightish {
  color: #cdcdcd;
}

.background {
  background-color: #ffffff;
}

.alt-background {
  background-color: #ebfbee;
}

.tan-background {
  background-color: #fff9ea;
}

.standard-link {
  color: #049b65;
  font-weight: bold;
}

.standard-link:hover {
  color: #04734b;
  font-weight: bold;
  cursor: pointer;
}

.circle-button {
  margin: 6px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: #0c0c0c;
  background-color: #ffffff;
  color: #0c0c0c;
}

.circle-button:hover {
  background-color: #04734b;
  color: #ffffff;
}

.standard-button {
  background-color: #049b65;
  border-color: #049b65;
  color: #ffffff;
  border-radius: 3px;
}

.standard-button:hover {
  background-color: #04734b;
  border-color: #049b65;
}

.standard-button:disabled {
  background-color: #acacac;
  border-color: #acacac;
}

.input-button {
  height: 40px;
}

.horizontal-list {
  display: inline-block;
}

.horizontal-list-item {
  float:left;
  display:inline;
}

.selector-left-enabled {
  background-color: #049b65;
  color: #000000;
  border: 2px solid #049b65;
  border-radius: 10px 0px 0px 10px;
  width:75px;
  float:right;
}

.selector-left-disabled {
  background-color: #cccccc;
  color: #333333;
  border: 2px solid #049b65;
  border-radius: 10px 0px 0px 10px;
  width:75px;
  float:right;
}

.selector-right-enabled {
  background-color: #049b65;
  color:#000000;
  border: 2px solid #049b65;
  border-radius: 0px 10px 10px 0px;
  width:75px;
  float:left;
}

.selector-right-disabled {
  background-color: #cccccc;
  color: #333333;
  border: 2px solid #049b65;
  border-radius: 0px 10px 10px 0px;
  width:75px;
  float:left;
}

.display-active {
  display:block;
  transition: width 0.5s;
}

.display-inactive {
  display:none;
  padding:0px !important;
  margin:0px !important;
  width:0%;
}

.bounce {
  position: absolute;
  top: var(--case-offset);
  left: calc(50% - var(--case-size)/2);
  
  animation-name: bounce; 
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { 
    transform: translateY(0) scale(1);
  }
  to   { 
    transform: translateY(var(--case-drop-height)) scale(1, 0.8);
  }
}

.current-step {
  /* background-color: #0b5f16; */
  border-bottom: 3px solid #0b5f16;
}

.complete-step {
  /* background-color: #181818; */
  border-bottom: 3px solid #181818;
}

.incomplete-step {
  /* background-color: #887777; */
  border-bottom: 3px solid #887777;
}

.scrollable {
  overflow-y:scroll;
  height: 600px;
}

.side-by-side {
  padding: 16px;
  width:100%;
  height:700px;
}

.diagram-background {
  height:700px;
}

.case-diagram {
  position:relative;
  top:40%;
}

.case-background {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
}

.case-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width:100% !important;
}

.bottle-six-back {
  position:absolute;
  top:-20%;
  left:40%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midbackleft {
  position: absolute;
  top:-10%;
  left:25%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midbackright {
  position: absolute;
  top:-10%;
  left:60%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midleft {
  position: absolute;
  top:0%;
  left:10%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midright {
  position: absolute;
  top:0%;
  left:42%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-front {
  position: absolute;
  top:12%;
  left:25%;
  width:28% !important;
  height: 78% !important;
}

.bottle-12-0 {
  position: absolute;
  top: -30%;
  left: 43%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-1 {
  position: absolute;
  top: -20%;
  left: 58%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-2 {
  position: absolute;
  top: -8%;
  left: 72%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-3 {
  position: absolute;
  top: -22%;
  left: 30%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-4 {
  position: absolute;
  top: -12%;
  left: 45%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-5 {
  position: absolute;
  top: 0%;
  left: 60%;
  width: 22% !important;
  height: 78% !important;
}

.bottle-12-6 {
  position: absolute;
  top: -14%;
  left: 18%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-7 {
  position: absolute;
  top: -5%;
  left: 32%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-8 {
  position: absolute;
  top: 7%;
  left: 47%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-9 {
  position: absolute;
  top: -4%;
  left: 6%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-10 {
  position: absolute;
  top: 6%;
  left: 20%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-11 {
  position: absolute;
  top: 14%;
  left: 34%;
  width: 22% !important;
  height: 78% !important;
}

.case-12 {
  height: 321px;
}

.case-item-dark {
  background-color: #142748;
  padding: 16px;
  color: #ffffff;
}

.case-item-light {
  background-color: #f8fbff;
  padding: 16px;
  color: #000000;
}

.square-150 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 150px;
}

.circle-button-bg {
  margin: 6px !important;
  padding: 0px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
  border-width: 2px !important;
  border-color: #d0a76c;
}

.circle-button-bg:hover {
  background-color: #04734b;
  color: #ffffff;
}
