@import './custombootstrap.css';

.subscription-module {
    margin: 0;
    /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.wine_list ul {
    list-style: none;
}
#root .black-button {
    font-size: 16px !important;
    font-family: Garamond, Baskerville, Caslon, serif;
    padding: 10px 30px !important;
}
#root .product-button h4 {
    font-size: 22px !important;
    padding: 10px !important;
}
#root .product-button p {
    font-size: 16px !important;
}


p {
  text-align: left;
}

h3 {
  text-align: left;
}

.search-minimal {
  background-color: #ffffff;
  padding: 7px;
  border-top:0;
  border-left:0;
  border-right:0;
  border-radius: 0px;
  border-width: 2px;
  border-color: #0e1f3c;
  color: #0e1f3c;
}

.button-minimal {
  background-color: #ffffff;
  border-top:0;
  border-left:0;
  border-right:0;
  border-radius: 0px;
  border-width: 2px;
  border-color: #e8b870;
  color: #e8b870;
}

.dropdown-minimal {
  background-color: #ffffff;
  border-radius: 0px;
  border-width:2px;
  color: #0e1f3c;
  border-color: #0e1f3c;
}

.square-150 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 150px;
}

.signup-input {
  height: 40px;
  position: relative;
  top: 2px;
}

.branding {
  /*TODO: Find a branding FONT*/
  color: #ffffff;
}

.branding-dark {
  color: #0c0c0c;
}

.header-main {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

.subheader {
  text-align: left;
}

.emphasis {
  color: #5bbf98;
}

.text-lightish {
  color: #cdcdcd;
}

.background {
  background-color: #ffffff;
}

.alt-background {
  background-color: #ebfbee;
}

.tan-background {
  background-color: #fff9ea;
}

.standard-link {
  color: #049b65;
  font-weight: bold;
}

.standard-link:hover {
  color: #04734b;
  font-weight: bold;
  cursor: pointer;
}

.circle-button {
  margin: 6px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: #0c0c0c;
  background-color: #ffffff;
  color: #0c0c0c;
}

.circle-button:hover {
  background-color: #04734b;
  color: #ffffff;
}

.standard-button {
  background-color: #049b65;
  border-color: #049b65;
  color: #ffffff;
  border-radius: 3px;
}

.standard-button:hover {
  background-color: #04734b;
  border-color: #049b65;
}

.standard-button:disabled {
  background-color: #acacac;
  border-color: #acacac;
}

.input-button {
  height: 40px;
}

.current-step {
  /* background-color: #0b5f16; */
  border-bottom: 3px solid #0b5f16;
}

.complete-step {
  /* background-color: #181818; */
  border-bottom: 3px solid #181818;
}

.incomplete-step {
  /* background-color: #887777; */
  border-bottom: 3px solid #887777;
}

.scrollable {
  overflow-y:auto;
  height: 640px;
}

.side-by-side {
  padding: 16px;
  width:100%;
  height:700px;
}

.diagram-background {
  height:700px;
}

.case-diagram {
  position:relative;
  top:40%;
}

.case-background {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
}

.case-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width:100% !important;
}

.bottle-six-back {
  position:absolute;
  top:-20%;
  left:40%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midbackleft {
  position: absolute;
  top:-10%;
  left:25%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midbackright {
  position: absolute;
  top:-10%;
  left:60%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midleft {
  position: absolute;
  top:0%;
  left:10%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-midright {
  position: absolute;
  top:0%;
  left:42%;
  width:28% !important;
  height: 78% !important;
}

.bottle-six-front {
  position: absolute;
  top:12%;
  left:25%;
  width:28% !important;
  height: 78% !important;
}

.bottle-12-0 {
  position: absolute;
  top: -30%;
  left: 43%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-1 {
  position: absolute;
  top: -20%;
  left: 58%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-2 {
  position: absolute;
  top: -8%;
  left: 72%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-3 {
  position: absolute;
  top: -22%;
  left: 30%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-4 {
  position: absolute;
  top: -12%;
  left: 45%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-5 {
  position: absolute;
  top: 0%;
  left: 60%;
  width: 22% !important;
  height: 78% !important;
}

.bottle-12-6 {
  position: absolute;
  top: -14%;
  left: 18%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-7 {
  position: absolute;
  top: -5%;
  left: 32%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-8 {
  position: absolute;
  top: 7%;
  left: 47%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-9 {
  position: absolute;
  top: -4%;
  left: 6%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-10 {
  position: absolute;
  top: 6%;
  left: 20%;
  width: 22% !important;
  height: 78% !important;
}
.bottle-12-11 {
  position: absolute;
  top: 14%;
  left: 34%;
  width: 22% !important;
  height: 78% !important;
}

.case-12 {
  height: 321px;
}

.case-item-dark {
  background-color: #f5f5f5;
  padding: 16px;
  color: #000000;
}

.case-item-light {
  background-color: #f8fbff;
  padding: 16px;
  color: #000000;
}

.square-150 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 150px;
}

.circle-button-bg {
  margin: 6px !important;
  padding: 0px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
  border-width: 2px !important;
  border-color: #d0a76c;
}

.circle-button-bg:hover {
  background-color: #04734b;
  color: #ffffff;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}


.loading-center {
  text-align:center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #111;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root .wine_list ul {
  list-style-type: none;
  padding: 0 0 20px 0;
  margin: 0;
}
#root .wine_list li {
  padding: 0;
  margin: 0;
}
#root .wine_list p {
  padding: 0;
  margin: 0;
}
#root .product-button {
  border: 1px solid #ccc !important;
  padding: 0 !important;
}
#root .product-button .btn-primary {
  background: #fff !important;
  color: #000 !important;
  border: none !important;
}
#root .product-button .btn-primary:hover {
  background: #eee !important;
}
#root .product-button h4 {
  text-align: center;
  width: 100%;
}
